 class="aa-color"{% extends 'main/base.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-warning border-bottom mt-4 mb-5">Skills</h2>   
    <div class="row text-white text-center mb-5">
        <div class="col-sm-4">
            <h3 class="aa-color">Python</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio maiores illum tempora doloribus in quibusdam!</p>
        </div>
        <div class="col-sm-4">
         <h3 class="aa-color">Django</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio maiores illum tempora doloribus in quibusdam!</p>
     </div>
     <div class="col-sm-4">
         <h3 class="aa-color">Data Structure</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio maiores illum tempora doloribus in quibusdam!</p>
     </div>
     </div>
     <div class="row text-white text-center mb-5">
        <div class="col-sm-4">
            <h3 class="aa-color">HTML5</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio maiores illum tempora doloribus in quibusdam!</p>
        </div>
        <div class="col-sm-4">
         <h3 class="aa-color">CSS3</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio maiores illum tempora doloribus in quibusdam!</p>
     </div>
     <div class="col-sm-4">
         <h3 class="aa-color">JavaScript</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio maiores illum tempora doloribus in quibusdam!</p>
     </div>
     </div>
     <div class="row text-white text-center mb-5">
        <div class="col-sm-4">
            <h3 class="aa-color">Bootstrap</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio maiores illum tempora doloribus in quibusdam!</p>
        </div>
        <div class="col-sm-4">
         <h3 class="aa-color">Laravel</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio maiores illum tempora doloribus in quibusdam!</p>
     </div>
     <div class="col-sm-4">
         <h3 class="aa-color">Php</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio maiores illum tempora doloribus in quibusdam!</p>
     </div>
     </div>
</div>
{% endblock content %}